@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model MyUploadedData
@{
    ViewData["Title"] = "My Uploaded Data";
    ViewData["ActivePage"] = ManageNavPages.MyUploadedData;
    var user = await UserManager.GetUserAsync(User);

}


<partial name="_StatusMessage" for="StatusMessage" />


<div class="row text-left">

    <h4>@ViewData["Title"]</h4>

</div>


<div class="row">
    <div class="col-md-6">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageModel[0].Project)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageModel[0].Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageModel[0].TestID)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ImageModel[0].CollectedBy)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.ImageModel[0].Image)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ImageModel[0].QRCode)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ImageModel)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestID)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.CollectedBy)
                    </td>


                    <td>
                        <img src="~/images/@item.Image" style="width: 8rem; height: 7rem" />
                    </td>

                    <td>
                        <img src="~/QRimages/@item.QRCode" style="width: 8rem; height: 7rem" />
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}